* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #ec407a;
    color: white;
    padding: 20px;
    font-size: 18px;
}

main {
    background-color: #fce4ec;
    padding: 30px;
}

.carta {
    background-color: white;
    border: 4px solid #f06292;
    border-radius: 12px;
    padding: 30px;
    max-width: 500px;
    margin: 0 auto;
    color: #ad1457;
    font-size: 17px;
    line-height: 1.8;
}

.carta2 {
    background-color: rgb(164, 218, 173);
    border: 4px solid #204d03;
    border-radius: 12px;
    padding: 30px;
    max-width: 300px;
    margin: 0 auto;
    color: #086652;
    font-size: 20px;
    line-height: 1.8;
}

.carta2 {
    background-color: rgb(164, 218, 173);
    border: 4px solid #204d03;
    border-radius: 12px;
    padding: 30px;
    max-width: 300px;
    margin: 0 auto;
    color: #086652;
    font-size: 20px;
    line-height: 1.8;
}

.carta3 {
    background-color: rgb(255, 255, 254);
    border: 4px solid #ffa602;
    border-radius: 15px;
    padding: 50px;
    max-width: 500px;
    margin: 0 auto;
    color: #ffa805;
    font-size: 13px;
    line-height: 1.8;
}

.carta4 {
    background-color: rgb(255, 255, 254);
    border: 4px solid #0c4201;
    border-radius: 15px;
    padding: 50px;
    max-width: 500px;
    margin: 0 auto;
    color: #2f533a;
    font-size: 13px;
    line-height: 1.8;
}

.carta5 {
    background-color: rgb(255, 255, 254);
    border: 4px solid #0228ff;
    border-radius: 15px;
    padding: 50px;
    max-width: 350px;
    margin: 0 auto;
    color: #05e2ff;
    font-size: 17px;
    line-height: 1.8;
}

.carta6 {
    background-color: rgb(255, 255, 254);
    border: 4px solid #ff0202;
    border-radius: 15px;
    padding: 50px;
    max-width: 566px;
    margin: 0 auto;
    color: #ff0597;
    font-size: 19px;
    line-height: 1.8;
}

.carta7 {
    background-color: rgb(255, 255, 254);
    border: 4px solid #fbff02;
    border-radius: 15px;
    padding: 50px;
    max-width: 50px;
    margin: 0 auto;
    color: #0e0d0d;
    font-size: 13px;
    line-height: 1.8;
}

.carta8 {
    background-color: rgb(255, 255, 254);
    border: 4px solid #ff02d5;
    border-radius: 12px;
    padding: 50px;
    max-width: 150px;
    margin: 0 auto;
    color: #a305ff;
    font-size: 11px;
    line-height: 1.8;
}

.carta9 {
    background-color: rgb(255, 255, 254);
    border: 4px solid #1302ff;
    border-radius: 19px;
    padding: 60px;
    max-width: 250px;
    margin: 0 auto;
    color: #05b8ff;
    font-size: 17px;
    line-height: 1.8;
}
.destinatario {
    text-align: left;
    margin-bottom: 20px;
}

.assinatura {
    text-align: right;
    margin-top: 30px;
}

footer {
    background-color: #ec407a;
    color: white;
    padding: 15px;
    font-size: 15px;
}